* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFE4BE;
}

body h1 {
  font-family: 'Dancing Script', cursive;
  color: #705F47;
  font-size: 50px;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

body h2 {
  font-family: 'Dancing Script', cursive;
  color: #705F47;
  font-size: 40px;
}

body h3 {
  font-family: 'Dancing Script', cursive;
  color: #705F47;
  font-size: 30px;
}

body p {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body a {
  font-family: 'Roboto', sans-serif;
}

main .container {
  width: 100%;
  text-align: center;
}

main .container .imgCarrusel {
  width: 100%;
  height: 500px;
}

main .mainSection2 {
  background-color: #ECD0A8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
      grid-template-areas: "titulo titulo" "texto video";
  margin: 65px;
}

main .mainSection2 .mainSection2Titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  margin: 1rem;
  text-align: center;
}

main .mainSection2 .mainSection2Texto {
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: texto;
  font-size: 17px;
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 30px;
  line-height: 30px;
}

main .mainSection2 .mainSection2Iframe {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: video;
  text-align: center;
}

main .mainSection2 .mainSection2Iframe .videoSize {
  width: 560px;
  height: 315px;
}

main .mainSection3 .mainSection3Grid {
  display: -ms-grid;
  display: grid;
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 15px;
  -ms-grid-columns: 0.5fr 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr 0.5fr;
  -ms-grid-rows: 1fr auto 3fr;
      grid-template-rows: 1fr auto 3fr;
      grid-template-areas: "titulo titulo titulo" "imagen1 imagen2 imagen3" "texto1 texto2 texto3";
  background-color: #D6B587;
}

main .mainSection3 .mainSection3Grid .tituloGrid {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  text-align: center;
}

main .mainSection3 .mainSection3Grid .imgGrid1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imagen1;
  text-align: center;
}

main .mainSection3 .mainSection3Grid .imgGrid1 .imgEquipo {
  width: 250px;
  height: 250px;
  border: double;
}

main .mainSection3 .mainSection3Grid .imgGrid1 .imgEquipo:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

main .mainSection3 .mainSection3Grid .descripEquipo1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: texto1;
  width: 60%;
  margin-left: 80px;
  text-align: center;
}

main .mainSection3 .mainSection3Grid .imgGrid2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: imagen2;
  text-align: center;
}

main .mainSection3 .mainSection3Grid .imgGrid2 .imgEquipo {
  width: 250px;
  height: 250px;
  border: double;
}

main .mainSection3 .mainSection3Grid .imgGrid2 .imgEquipo:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

main .mainSection3 .mainSection3Grid .descripEquipo2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: texto2;
  width: 60%;
  margin-left: 80px;
  text-align: center;
}

main .mainSection3 .mainSection3Grid .imgGrid3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: imagen3;
  text-align: center;
}

main .mainSection3 .mainSection3Grid .imgGrid3 .imgEquipo {
  width: 250px;
  height: 250px;
  border: double;
}

main .mainSection3 .mainSection3Grid .imgGrid3 .imgEquipo:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

main .mainSection3 .mainSection3Grid .descripEquipo3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: texto3;
  width: 60%;
  margin-left: 80px;
  text-align: center;
}

main .flexboxPropuestas {
  background-color: #D6B587;
  height: 150vh;
  margin: 15px 15px 50px 15px;
  text-align: center;
}

main .flexboxPropuestas .mainPropuestas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 15px;
}

main .flexboxPropuestas .mainPropuestas .imgPropuesta {
  width: 380px;
  height: 250px;
  border: 2px double #705F47;
  opacity: .7;
  margin: 10px;
}

main .flexboxPropuestas .mainPropuestas .imgPropuesta:hover {
  opacity: 1;
  border: solid 2px white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .main2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.5fr 2fr 2fr;
      grid-template-rows: 0.5fr 2fr 2fr;
  height: 900px;
  width: 95%;
  margin: 2rem;
      grid-template-areas: "rosa rosa" "rojo amarillo" "rojo amarillo";
  gap: 3px;
}

main .main2 .hijo {
  border: solid 1px black;
}

main .main2 .rosa {
  background-color: #ECD0A8;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: rosa;
}

main .main2 .amarillo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: amarillo;
}

main .main2 .amarillo .imgCatering {
  width: 800px;
  height: 793px;
}

main .main2 .rojo {
  background-color: #D6B587;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: rojo;
  text-align: center;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 3rem;
  line-height: 2rem;
}

main .main2 .rojo .centTelef {
  padding-top: 2rem;
}

main .formularioContacto {
  font-family: "Roboto",sans-serif;
  width: 50%;
  padding: 1.5rem;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

footer {
  background-color: #705F47;
}

footer .footerGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr auto 0.5fr;
      grid-template-rows: 1fr auto 0.5fr;
  color: #FFE4BE;
      grid-template-areas: "titulo logoubi imagen" "contacto ubicacion redes" "derechos derechos derechos";
}

footer .footerGrid .footerTitulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  margin: 20px;
}

footer .footerGrid .footerTitulo h2 {
  color: #FFE4BE;
}

footer .footerGrid .logoUbi {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logoubi;
  text-align: center;
  margin-top: 30px;
}

footer .footerGrid .footerContact {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contacto;
  margin-left: 20px;
}

footer .footerGrid .footerUbicacion {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ubicacion;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

footer .footerGrid .footerRedes {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: redes;
  text-align: center;
}

footer .footerGrid .footerDerechos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: derechos;
  text-align: center;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 768px) {
  body h1 {
    font-size: 20px;
  }
  body .container {
    width: 100%;
    text-align: center;
  }
  body .container .imgCarrusel {
    width: 100%;
    height: 300px;
  }
  body .mainSection2 {
    background-color: #ECD0A8;
    display: -ms-grid;
    display: grid;
    margin: 5px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr auto;
        grid-template-rows: 1fr 2fr auto;
        grid-template-areas: "titulo" "texto" "video";
  }
  body .mainSection2 .mainSection2Titulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titulo;
    margin: auto;
    text-align: center;
  }
  body .mainSection2 .mainSection2Titulo h2 {
    font-size: 17px;
  }
  body .mainSection2 .mainSection2Texto {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: texto;
    padding: 0px;
    font-size: 12px;
    line-height: 1rem;
    margin: 0px;
  }
  body .mainSection2 .mainSection2Iframe {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: video;
    text-align: center;
  }
  body .mainSection2 .mainSection2Iframe .videoSize {
    width: 250px;
    height: 120px;
  }
  body .mainSection3 .mainSection3Grid {
    display: -ms-grid;
    display: grid;
    margin: 5px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 7fr;
        grid-template-rows: 7fr;
        grid-template-areas: "titulo" "imagen1" "texto1" "imagen2" "texto2" "imagen3" "texto3";
    background-color: #D6B587;
  }
  body .mainSection3 .mainSection3Grid .tituloGrid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titulo;
    text-align: center;
    margin: 1rem;
  }
  body .mainSection3 .mainSection3Grid .tituloGrid h2 {
    font-size: 17px;
  }
  body .mainSection3 .mainSection3Grid .imgGrid1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imagen1;
    text-align: center;
  }
  body .mainSection3 .mainSection3Grid .imgGrid1 .imgEquipo {
    width: 100px;
    height: 80px;
    border: double;
  }
  body .mainSection3 .mainSection3Grid .imgGrid1 .imgEquipo:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  body .mainSection3 .mainSection3Grid .descripEquipo1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: texto1;
    width: 60%;
    text-align: center;
    font-size: 12px;
  }
  body .mainSection3 .mainSection3Grid .descripEquipo1 h3 {
    font-size: 16px;
  }
  body .mainSection3 .mainSection3Grid .imgGrid2 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: imagen2;
    text-align: center;
  }
  body .mainSection3 .mainSection3Grid .imgGrid2 .imgEquipo {
    width: 100px;
    height: 80px;
    border: double;
  }
  body .mainSection3 .mainSection3Grid .imgGrid2 .imgEquipo:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  body .mainSection3 .mainSection3Grid .descripEquipo2 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: texto2;
    width: 60%;
    text-align: center;
    font-size: 12px;
  }
  body .mainSection3 .mainSection3Grid .descripEquipo2 h3 {
    font-size: 16px;
  }
  body .mainSection3 .mainSection3Grid .imgGrid3 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: imagen3;
    text-align: center;
  }
  body .mainSection3 .mainSection3Grid .imgGrid3 .imgEquipo {
    width: 100px;
    height: 80px;
    border: double;
  }
  body .mainSection3 .mainSection3Grid .imgGrid3 .imgEquipo:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  body .mainSection3 .mainSection3Grid .descripEquipo3 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: texto3;
    width: 60%;
    text-align: center;
    font-size: 12px;
  }
  body .mainSection3 .mainSection3Grid .descripEquipo3 h3 {
    font-size: 16px;
  }
  body footer {
    background-color: #705F47;
  }
  body footer .footerGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    color: #FFE4BE;
        grid-template-areas: "titulo logoubi imagen" "contacto ubicacion" "derechos derechos derechos";
  }
  body footer .footerGrid .footerTitulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titulo;
    margin: 0px;
  }
  body footer .footerGrid .footerTitulo h2 {
    font-size: 17px;
    color: #FFE4BE;
  }
  body footer .footerGrid .logoUbi {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: logoubi;
    text-align: center;
    margin-top: 30px;
  }
  body footer .footerGrid .footerContact {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contacto;
    margin-left: 5px;
    margin-top: 0px;
    font-size: 12px;
  }
  body footer .footerGrid .footerUbicacion {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: ubicacion;
    text-align: center;
    font-size: 12px;
    padding: 0px;
  }
  body footer .footerGrid .footerRedes {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: derechos;
    text-align: start;
  }
  body footer .footerGrid .footerDerechos {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: derechos;
    text-align: center;
    font-size: 12px;
  }
  body .flexboxPropuestas {
    background-color: #D6B587;
    height: 70vh;
    margin: 5px 5px 10px 5px;
    text-align: center;
  }
  body .flexboxPropuestas h2 {
    font-size: 19px;
  }
  body .flexboxPropuestas .mainPropuestas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 15px;
  }
  body .flexboxPropuestas .mainPropuestas .imgPropuesta {
    width: 120px;
    height: 70px;
    border: 2px double #705F47;
    opacity: .7;
    margin: 10px;
  }
  body .flexboxPropuestas .mainPropuestas .imgPropuesta:hover {
    opacity: 1;
    border: solid 2px white;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  body .main2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 2fr 2fr;
        grid-template-rows: 0.5fr 2fr 2fr;
    height: 900px;
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
        grid-template-areas: "rosa" "rojo" "rojo2";
    gap: 2px;
  }
  body .main2 .hijo {
    border: solid 1px black;
  }
  body .main2 .rosa {
    background-color: #ECD0A8;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: rosa;
    padding: 10px;
  }
  body .main2 .amarillo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: rojo2;
    margin: 0px;
  }
  body .main2 .amarillo .imgCatering {
    width: 100%;
    height: 100%;
  }
  body .main2 .rojo {
    background-color: #D6B587;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: rojo;
    text-align: center;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 0rem;
    line-height: 1.5rem;
    font-size: 12px;
  }
  body .main2 .rojo h2 {
    font-size: 19px;
  }
  body .main2 .rojo h3 {
    font-size: 19px;
  }
  body .main2 .rojo .centTelef {
    padding-top: 2rem;
    font-size: 17px;
  }
  body .formularioContacto {
    font-family: "Roboto",sans-serif;
    width: 100%;
    line-height: 1.5rem;
    font-size: 12px;
    padding: 0.5rem;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0.5px solid black;
  }
  body .formularioContacto legend {
    font-size: 10px;
  }
  body .formularioContacto .comentariosBox {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body .mainSection2 {
    background-color: #ECD0A8;
    display: -ms-grid;
    display: grid;
    margin: 50px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr auto;
        grid-template-rows: 1fr 2fr auto;
        grid-template-areas: "titulo" "texto" "video";
  }
  body .mainSection2 .mainSection2Titulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titulo;
    margin: auto;
    text-align: center;
  }
  body .mainSection2 .mainSection2Titulo h2 {
    font-size: 37px;
  }
  body .mainSection2 .mainSection2Texto {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: texto;
    padding: 0px;
    font-size: 20px;
    line-height: 2rem;
    margin: 10px;
  }
  body .mainSection2 .mainSection2Iframe {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: video;
    text-align: center;
  }
  body .mainSection2 .mainSection2Iframe .videoSize {
    width: 500px;
    height: 300px;
  }
  body .main2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 2fr 2fr;
        grid-template-rows: 0.5fr 2fr 2fr;
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-bottom: 30px;
    margin-top: 10px;
        grid-template-areas: "rosa" "rojo" "rojo2";
    gap: 2px;
  }
  body .main2 .hijo {
    border: solid 1px black;
  }
  body .main2 .rosa {
    background-color: #ECD0A8;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: rosa;
    padding: 10px;
  }
  body .main2 .amarillo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: rojo2;
    margin: 0px;
  }
  body .main2 .amarillo .imgCatering {
    width: 100%;
    height: 100%;
  }
  body .main2 .rojo {
    background-color: #D6B587;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: rojo;
    text-align: center;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 0rem;
    line-height: 2rem;
    font-size: 25px;
  }
  body .main2 .rojo h2 {
    font-size: 35px;
  }
  body .main2 .rojo h3 {
    font-size: 35px;
  }
  body .main2 .rojo .centTelef {
    padding-top: 2rem;
    font-size: 35px;
  }
  body .formularioContacto {
    font-family: "Roboto",sans-serif;
    width: 100%;
    line-height: 1.5rem;
    font-size: 19px;
    padding: 0.5rem;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0.5px solid black;
  }
  body .formularioContacto legend {
    font-size: 25px;
  }
  body .formularioContacto .comentariosBox {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */