footer{
    background-color: #705F47;
    .footerGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto 0.5fr;
        color: #FFE4BE;
        grid-template-areas:
        "titulo logoubi imagen"
        "contacto ubicacion redes"
        "derechos derechos derechos";
        .footerTitulo{
            grid-area: titulo;
            margin: 20px;
            h2{
                color: #FFE4BE;
            }
        }
        .logoUbi{
            grid-area: logoubi;
            text-align: center;
            margin-top: 30px;
        }
        .footerContact{
            grid-area: contacto;
            margin-left: 20px;
        }
        .footerUbicacion{
            grid-area: ubicacion;
            text-align: center;
            padding-left: 60px;
            padding-right: 60px;
        }
        .footerRedes{
            grid-area: redes;
            text-align: center;
        }
        .footerDerechos{
            grid-area: derechos;
            text-align: center;
        }
    }
}